h1 {
	color: red;
}

article li {
	color: #00F;
}

article li strong{
	color: #000;
}

aside{
	float: left;
	width: 30%;
	clear: both;
}

section{
	float: left;
	width: 70%;
}

#Formacion{
	float: left;
	width: 50%;
}

#experiencia{
	float: left;
	width: 50%;
}

article li.actual {
	font-weight: bolder;
	font-size: 1.2em;
}